<!-- views/add-post.ejs -->
<%- include("partials/header") %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Admin Panel</a>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">                
				<%- include("partials/admin_nav") %>
            </div>
  <div class="col-md-9">			
  <h1>Add a New Post</h1>
  <form action="/add-post" method="post" class="needs-validation"  enctype="multipart/form-data" novalidate>
  <input type="text" name="id_user" class="form-control" value="<%= userId %>" required>
  <input type="text" name="id_tenant" class="form-control" value="<%= blog_data.id_tenant %>" required>
  <input type="text" name="id_blog" class="form-control" value="<%= blog_data.id_blog %>" required>
    <div class="mb-3">
        <label for="post_title" class="form-label">Post Title:</label>
        <input type="text" name="post_title" class="form-control" required>
        <div class="invalid-feedback">
            Please provide a post title.
        </div>
    </div>
    
    <div class="mb-3">
        <label for="post_content" class="form-label">Post Content:</label>
        <textarea name="post_content" class="form-control" rows="25" required  id="myTextarea"></textarea>
        <div class="invalid-feedback">
            Please provide post content.
        </div>
    </div>
	
    <div class="mb-3">
        <label for="post_excerpt" class="form-label">Post Excerpt:</label>
        <textarea name="post_excerpt" class="form-control"  rows="15" required  id="myTextarea"></textarea>
        <div class="invalid-feedback">
            Please provide a post excerpt.
        </div>
    </div>
	
    <div class="mb-3">
        <label for="id_category" class="form-label">Category:</label>
        <select name="id_category" class="form-select" required>
            <% for (const category of categories) { %>
                <option value="<%= category.id_category %>"><%= category.category_title %></option>
            <% } %>
        </select>
        <div class="invalid-feedback">
            Please select a category.
        </div>
    </div>
	
	<div class="mb-3">
        <label for="post_image" class="form-label">Post Image:</label>
        <input type="file" name="post_image" class="form-control" accept="image/*" required>
        <div class="invalid-feedback">
            Please provide a post image.
        </div>
    </div>
	
    <button type="submit" class="btn btn-primary">Add Post</button>
</form>


  </div>
  
  
 <!-- Include the admin haeder.ejs  -->
<%- include("partials/footer") %>	   