 <%- include("partials/front/header") %>
<%- include("partials/front/top_menu") %>  

<div class="container m-5">
       
		<% if (!category_title) { %>
        <h2>Laterst Blog Posts</h2>
		<hr/>
        <% } else {%>
		<h2><%= category_title %></h2>
		<hr/>
		<% } %>
		
        <div class="row">
            <% posts.forEach(post => { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="/uploads/<%= tenantDomain %>/<%= post.post_image %>" class="card-img-top" alt="<%= post.post_title %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= post.post_title %></h5>
                            <p class="card-text"><%= post.post_excerpt %></p>
                            <a href="/<%= tenantDomain %>/category/<%= post.id_category %>/post/<%= post.id_post %>" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
</div>


  <!-- Main Content -->
  <main class="container my-5">
    <div class="row">
      <!-- Blog Posts -->
      <div class="col-md-8">
        <h2 class="mb-4">Latest Articles</h2>
        <!-- Example blog post -->
        <div class="card mb-4">
          <img src="thumbnail.jpg" alt="Post Thumbnail" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">Post Title</h3>
            <p class="card-text">Post Description</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
        <!-- Repeat the above structure for each blog post -->
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="text-white text-center py-4" style="background: linear-gradient(to bottom, #1877f2, #0a4279);">
    <div class="container">
      <p>&copy; 2023 Your Blog. All rights reserved.</p>
    </div>
  </footer>

  <!-- Link to Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
